<p-dialog
  header="Add Product"
  [modal]="true"
  [(visible)]="display"
  [closable]="true"
  (onHide)="onCancel()"
>
  <div class="column gap-1 form-wrapper" [formGroup]="productForm">
    <div class="row gap-05">
      <span class="price-label">Name:</span>
      <input type="text" formControlName="name" />
    </div>
    <div class="row gap-05">
      <span class="price-label">Price:</span>
      <input type="text" formControlName="price" />
    </div>
    <div class="row gap-05">
      <span class="price-label">Image:</span>
      <input type="text" formControlName="image" />
    </div>
    <p-rating
      formControlName="rating"
      [readonly]="false"
      iconCancelClass="hidden"
      class="rating"
    ></p-rating>
  </div>
  <p-footer>
    <button
      pButton
      type="button"
      label="Confirm"
      class="ui-button-success"
      (click)="onConfirm()"
      icon="pi pi-check"
      [class.disabled]="!productForm.valid"
    ></button>
    <button
      pButton
      type="button"
      label="Cancel"
      class="ui-button-secondary"
      (click)="onCancel()"
      icon="pi pi-times"
    ></button>
  </p-footer>
</p-dialog>
